.app {
  background-color: rgb(21, 110, 52);
  color: blanchedalmond;
  min-height: 80vh;
  width: 400px;
  margin: 20 px auto;
}
img {
  border-radius: 50%;
}

body {
  background-color: white;
}

.crossed {
  text-decoration: line-through 2px yellow;
}

ul, Li {
  padding: 10px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

.bigcontainer {
  display: flex;
  justify-content: center;
}

.add {
margin-top: 5px;
background-color: rgb(127, 21, 21);
}

.delete {
margin-bottom: 5px;
background-color: rgb(34, 2, 65);
}

.btn {
  padding: 10px;
  border: none;
width: 70%;
color: white;
font-size: 16px;
font-family: 'Oswald', sans-serif;
}

input {
  flex: 1;
  font-family: 'Oswald', sans-serif;
  margin: 10px;
  padding: 10px;
}